{% extends 'base.html.twig' %}

{% block title %}New SoldeConge{% endblock %}

{% block body %}
    <h1>Create new SoldeConge</h1>

    {{ include('solde_conge/_form.html.twig') }}

    <a href="{{ path('app_solde_conge_index') }}">back to list</a>
    
{% endblock %}
